
# Copyright (c) 2021 Apple Inc. Licensed under MIT License.

map https://networkquality.example.com/api/v1/large \
    http://localhost/cache/4294967296/ \
    @plugin=generator.so

map https://networkquality.example.com/api/v1/carry/small \
    http://localhost/cache/1/ \
    @plugin=generator.so

map https://networkquality.example.com/api/v1/carry/config \
    http://localhost/ \
    @plugin=statichit.so @pparam=--file-path=config.example.com.json \
    @pparam=--mime-type=application/json

map https://networkquality.example.com/api/v1/carry/slurp \
    http://localhost/ \
    @plugin=generator.so
